.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.input{
    height: 50px;
    width: 150px;
    padding-left: 20px;
    font-size: larger;
}

.button{
    height: 40px;
    width: 100px;
}

.button:active{
    border-color: black;
}

.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.box2 img{
    height: 250px;
    width: 300px;
}